+prefix-classes($prefix)

    .loading-bar
      display none
      height 4px
      position absolute
      width 100%

      &.active
        display block

      &::before
        animation loading 2s linear infinite
        background-color $actioncolor
        content ''
        display block
        height 4px
        left -200px
        position absolute
        width 200px

      @keyframes loading {
        from {
            left 0px
            width 30%
        }

        50% {
            width 30%
        }

        70% {
            width 44%
        }

        80% {
            left 55%
        }

        95% {
            left 66%
        }

        to {
            left 72%
        }
      }
