+prefix-classes(prefix)

    .pager-toolbar
        background-color lightcolor
        border-top: 1px solid strongcolor
        border-radius(0px 0px 3px 3px)
        font-family fontfamily
        font-size 13px
        height headerheight
        text-indent 10px
        
        span 
            display block
            float right
            position relative
            right 5px
            top 2px
        
        span:first-child
            font-size fontsize
            font-family fontfamily
            float left
        
        button
            margin 0px 10px