@require('../../../main')

+prefix-classes(prefix)

	.pager-toolbar
		background-color lightcolor
		border-top: 1px solid strongcolor
		height headerheight
		
		td 
			background-color lightcolor
			
			div
				font-family fontfamily
				text-indent: 10px;
			
				button
					float right
					margin 0px 10px