root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# 2 space indentation
[*.{styl,html,css}]
indent_size = 2

[{package.json,.stylintrc}]
indent_size = 2
