+prefix-classes(prefix)

    .cell
        border-bottom: 1px solid lightcolor
        height rowheight
        font-family fontfamily
        font-size cellfontsize
        padding 4px 10px 4px 10px
        position relative
        text-overflow ellipsis
        overflow hidden
        
        .inactive
            pointer-events none