+prefix-classes($prefix)
  .cell-handle-container
    display inline-block
    height 100%
    margin-left -10px
    padding-left 10px


  .{$dragclass}
    .cell-handle-container
      background-color white
