@require('../main');

+prefix-classes(prefix)

	.table
		border-radius 4px
		border-collapse collapse
		font-size fontsize
		position relative
		text-align left
		tabe-layout fixed
		white-space nowrap
		width: 100%
		