@require('../main');

+prefix-classes(prefix)

	.header
		color fontcolor
		font-family fontfamily
		background-color lightcolor
		border-bottom: 1px solid strongcolor
		height: 24px
		
		th 
			text-indent 4px