+prefix-classes(prefix)

    .header
        background-color lightcolor
        border-bottom: 1px solid strongcolor
        color fontcolor
        font-family fontfamily
        height headerheight
        
        &.{headerhidden}
            visibility hidden
            
            th
                border none
                border-image-width 0
                height 0px
                
                &.checkbox-container
                    border none
                    height 0
                    margin 0
        
        th
            position relative
            overflow hidden
            text-overflow ellipsis
            
            &.checkbox-container
                border-bottom 1px solid strongcolor
                
            .column
                display inline-block
                text-overflow ellipsis
                overflow hidden
                width 80%
            
            .{sorthandleclass}
                float left
                opacity 0
                transition(opacity)
                visibility hidden
                
                &.descend
                    icon('sort-up')
                    &::before
                        top -1px
            
                &.ascend
                    icon('sort-down')
                
                &::before
                    cursor pointer
                    position relative
                    right 1px
            
            .{draghandleclass}
            
                &::after
                    border-right 1px solid lightcolor
                    content ' '
                    cursor ew-resize
                    position absolute
                    right 0px
                    top 0px
                    width: 10px
                    height 100%
                    transition(border)
                    
            &:hover
                .{draghandleclass}
                    &::after
                        border-color strongcolor
                
        th:nth-last-child(1), th:nth-last-child(2)
            overflow initial
            
            .{draghandleclass}
                &::after
                    border none
                    cursor auto