+prefix-classes($prefix)


  .header-fixed-container.hidden
    opacity 0

  .header
    background-color $lightcolor
    border-bottom: 1px solid $strongcolor
    color $fontcolor
    font-family $fontfamily
    height $headerheight

    &.{$headerhidden}
      visibility hidden

      th
        border none
        height 0
        padding-bottom 0
        padding-top 0

        &.checkbox-container
          border none
          height 0
          margin 0

    th
      position relative
      text-overflow ellipsis

      &.checkbox-container
        border-bottom 1px solid $strongcolor

        &.hidden
          .checkbox
            visibility hidden

      .column
        display inline-block
        height $headerheight
        overflow hidden
        position relative
        text-overflow ellipsis
        top 6px
        width 80%

      &.sort-handle-visible
        .{$sorthandleclass}
          visibility visible

      .{$sorthandleclass}
        float left
        transition(opacity)
        visibility hidden

        &.desc
          icon('sort-up')
          &::before
            top -1px

        &.asc
          icon('sort-down')
          &::before
            cursor pointer
            position relative
            right 1px

      .{$draghandleclass}

        &::after
          border-right 1px solid $lightcolor
          content ' '
          cursor ew-resize
          height 100%
          position absolute
          right 0
          top 0
          transition(border)
          width: 10px

      &:hover
        .{$draghandleclass}
          &::after
            border-color $strongcolor

    th:nth-last-child(1), th:nth-last-child(2)
      overflow initial

      .{$draghandleclass}
        &::after
          border none
          cursor auto
