+prefix-classes($prefix)

    .action-menu-item
      border-radius(3px)
      font-family $fontfamily
      font-size $menufontsize
      line-height 1.2
      padding 6px 30px 6px 6px

      &:hover
        background-color $lightcolor
