+prefix-classes($prefix)

    .action-menu-container
      background-color $whitecolor
      border-radius(3px)
      boxshadow()
      list-style-position outside
      list-style-type none
      min-height 30px
      overflow auto
      overflow-x hidden
      padding 0
      position absolute
      right 6px
      top 10px
      zindex(action-menu-container)

    .top
      .action-menu-container
        bottom 3px
        top initial
