@require('../main');

+prefix-classes(prefix)

	.row
		background-color whitecolor
		height rowheight
		
		&:hover
			background-color rowhovercolor !important;
			
		&.empty-row
			text-align center
			height rowheight * 4
		
	
			
			
		