+prefix-classes(prefix)

    .row
        background-color whitecolor
        text-overflow ellipsis
        
        &:hover
            background-color rowhovercolor !important;
            
        &.empty-row
            text-align center
            height rowheight * 4
        
        &.{activeclass}
            background-color strongcolor
            
            
        