+prefix-classes($prefix)
  for num in (0..10)
    .cell-tree-arrow.tree-node-depth-{num}
        icon('chevron-down')
        padding: 10px 5px 10px 0;
        padding-left ((num - 1) * $buffer) px

        &::before
          font-size 8px
          left -5px
          position relative
          top -1px

        &.node-unexpanded
          icon('chevron-right')

          &::before
            font-size 8px
            left -($buffer / 2) px
            margin-right: 2px
            position relative
            top -1px

        &:not(.expand)
          visibility hidden

  .{$dragclass}
    for num in (0..10)
      .tree-node-depth-{num}
        .row-drag-handle
          color white

