+prefix-classes(prefix)
  for num in (0..10)
    .cell-tree-arrow.tree-node-depth-{num}
        margin-left ((num - 1) * buffer) px
        icon('chevron-down')
        &::before
          font-size 8px
          position relative
          left -5px;
          top -1px

        &.node-unexpanded
          icon('chevron-right')

          &::before
            font-size 8px
            position relative
            left -(buffer / 2) px;
            margin-right: 2px;
            top -1px

        &:not(.expand)
          visibility hidden
