+prefix-classes(prefix)

    .filter-menu-container
        boxshadow()
        font-family fontfamily
        position absolute
        right 10px
        top 24px
        width 400px
        zindex('.filter-menu-container')