+prefix-classes($prefix)

  .error-container
    background-color $lightcolor
    bottom 0
    boxshadow()
    color $strongcolor
    height 100px
    left 0
    margin auto
    opacity 0
    perspective 1300px
    position absolute
    right 0
    top -10000px
    transform rotateX(-70deg)
    transform-style preserve-3d
    transition transform .2s
    width 50%
    zindex(error-container)

    &.shown
      opacity 1
      top 0
      transform rotateX(0deg)

      .error-message
        color $fontcolor
        font-family $fontfamily
        height 20px
        left 0
        margin-top -20px
        margin-left 20px
        position absolute
        right 0
        top 50%

      button
        bottom 10px
        button($actioncolor)
        position absolute
        right 10px

