@font-face
	font-family Open Sans
	font-style normal
	src url(../../vendor/fonts/OpenSans-Light.ttf)
	
$fa-font-path = '../../vendor/fonts/'

@import '../../node_modules/font-awesome-stylus/stylus/index'