/*
* By default these fonts will be used for the grid
* however you can opt out, but setting a stylus variable
* @example: $include_fonts = false
**/

if $include_fonts

    webfont('Open Sans', 
        {
            path: '../../vendor/fonts/OpenSans-Light',
            type: '.ttf'
            format: ''
        }
    )
        
    webfont('FontAwesome', 
        {
            path: '../../vendor/fonts/fontawesome-webfont',
            type: '.eot?v=3.0.1'
            format: ''
        },
        {
            path: '../../vendor/fonts/fontawesome-webfont',
            type: '.eot?#iefix&v=3.0.1'
            format: 'embedded-opentype'
        },
        {
            path: '../../vendor/fonts/fontawesome-webfont',
            type: '.woff?v=3.0.1'
            format: 'woff'
        },
        {
            path: '../../vendor/fonts/fontawesome-webfont',
            type: '.ttf?v=3.0.1'
            format: 'truetype'
        }
    )