@import 'mixins'
@import 'icons'

$prefix = 'react-grid-'

$actioniconclass = 'action-icon'
$activeclass = 'active'
$draghandleclass = 'drag-handle'
$draggablecolumnclass = 'draggable-column'
$editclass = 'edit'
$dragclass = 'row-is-dragging'
$headerhidden = 'header-hidden'
$sorthandleclass = 'sort-handle'
$sorthandlevisibleclass = 'sort-handle-visible'

// general
$fontsize = 14px
$iconfontsize = 12px
$cellfontsize = 13px
$menufontsize = 12px
$headerheight = 24px
$rowheight = 20px
$fontfamily = 'Open Sans', sans-serif

// colors
$lightcolor = #f7f7f7
$strongcolor = #e9e9e9
$whitecolor = #fff
$blackcolor = #161616
$fontcolor = #3f3f3f
$rowhovercolor = #f5f5f5
$actioncolor = #2E7D32
$editcolor = #B2B2B2
$dragblue = #2288EE

// treelayout
$buffer = 16

// zindex manager
$zarray = {
  action-menu-container: 11,
  bulkaction-container: 12,
  error-container: 10,
  filter-menu-container: 13,
  fixed-header: 9
}

@require 'components/button'
@require 'components/cell'
@require 'components/container'
@require 'components/grid'
@require 'components/tablecontainer'
@require 'components/treelayout'
@require 'components/header'
@require 'components/menu'
@require 'components/menuitem'
@require 'components/row'
@require 'components/rowdraghandle'
@require 'components/cellhandlecontainer'

@require 'components/plugins/editor/inline'

@require 'components/plugins/errorhandler/message'
@require 'components/plugins/gridactions/actioncolumn'
@require 'components/plugins/loader/loadingbar'
@require 'components/plugins/pager/toolbar'
@require 'components/plugins/selection/model'
@require 'components/plugins/bulkactions/toolbar'
@require 'components/plugins/filtercontainer/toolbar'
@require 'components/plugins/filtercontainer/menu'




