button(backgroundcolor, color = whitecolor)
    background-color backgroundcolor
    border none
    color color
    font-family fontfamily
    border-radius(3px)
    opacity .8
    
    &:focus
        outline none
    
    &:active
        opacity 1
        
    &:hover 
        opacity .6
        
    &:disabled
        background-color whitecolor
        color blackcolor

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
  
zindex(elem)
  z-index zarray[elem]
  
boxshadow()
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
 
transition(property, duration = 150ms, function = cubic-bezier(.17,.67,.83,.67))
    transition-duration duration   
    transition-property property
    transition-timing-function function
    
multipletransition(arguments...)
    transition((arguments))
    