+prefix-classes($prefix)

    .inline-editor
      left 0
      margin 0 auto
      multipletransition(transform, opacity)
      opacity 0
      pointer-events none
      position absolute
      right 0
      text-align center
      transform translateX(0px) translateY(0px)

      .button-container
        background-color $editcolor
        border-radius(3px)
        boxshadow()
        display inline-block
        margin-top 5px
        padding 5px
        pointer-events all

        .save-button
          button($actioncolor)
        .cancel-button
          button($lightcolor, $blackcolor)

    &.shown
      display block
      opacity 1
      transform translateY(-7px)

    &.hidden
      top -10000px
