+prefix-classes($prefix)

    .checkbox-container
      border-bottom: 1px solid $lightcolor
      font-family $fontfamily
      font-size $cellfontsize
      height $rowheight
      overflow hidden
      padding 0 10px
      position relative
      text-overflow ellipsis
      width 10px
