+prefix-classes(prefix)

    th.action-container
        border-bottom: 1px solid strongcolor

    .action-container
        cursor pointer
        position relative
        width 5px
        border-bottom: 1px solid lightcolor
        height rowheight
        font-family fontfamily
        
        .no-actions
            display none
        
        .{actioniconclass}
            cursor pointer
            icon('action')
            padding-left 5px
            position relative
            
            
            &::before
                cursor pointer
                border-radius(3px)
                position absolute
                text-align center
                top 5px
                right 5px
                width 6px
        
        &.action-menu-selected
            span
                &::before
                    background-color strongcolor