+prefix-classes($prefix)

    .bulkaction-container
      background-color $editcolor
      border-radius(3px 3px 0 0)
      height 28px
      multipletransition(transform, opacity, top)
      opacity 0
      position absolute
      text-align left
      top -37px
      transform translateX(0px) translateY(-37px)
      width 100%
      zindex(bulkaction-container)

      .bulkaction-description
        display inline-block;
        font-family $fontfamily
        font-size $cellfontsize
        min-width 70px
        overflow hidden
        padding-left 15px
        position relative
        text-overflow ellipsis
        top 3px

        .checkbox-container
          border-bottom 1px solid transparent

        button
          button($actioncolor)
          margin 5px 8px
          position relative
          top -1px

        &.removed
          top -100px

        &.shown
          opacity 1
          top 0
          transform translateY(0px)
